#### Q1. What are the three measures of central tendency?

####  Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

#### Q3. Measure the three measures of central tendency for the given height data:
#### [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

#### Q4. Find the standard deviation for the given data:
#### [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

#### Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example.

#### Q6. What is a Venn diagram?

#### Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
#### (i) A B
#### (ii) A â‹ƒ B

#### Q8. What do you understand about skewness in data?

#### Q9. If a data is right skewed then what will be the position of median with respect to mean?

#### Q10. Explain the difference between covariance and correlation. How are these measures used in statistical analysis?

####  Q11. What is the formula for calculating the sample mean? Provide an example calculation for a dataset.

#### Q12. For a normal distribution data what is the relationship between its measure of central tendency?

####  Q13. How is covariance different from correlation?

####  Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

## Answers

#### Q1. What are the three measures of central tendency?

In [ ]:
1. Mean
2. Median
3. Mode

### Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

#### 1. Mean:
###### Definition: 
The mean is the average of all the values in a dataset. It is calculated by adding up all the values and then dividing the sum by the number of data points.

###### Sensitivity to Extreme Values:
The mean is sensitive to extreme values, as it takes into account the magnitude of each data point. A single extreme value can significantly affect the mean, pulling it towards higher or lower values.

###### Application: 
The mean is commonly used when dealing with data that has a roughly symmetrical distribution without many extreme values. It is useful for continuous and interval data.

#### 2.Median:
###### Definition: 
The median is the middle value in a dataset when it is ordered from lowest to highest. If the dataset has an odd number of data points, there will be one exact middle value. If the dataset has an even number of data points, the median is the average of the two middle values.

###### Sensitivity to Extreme Values: 
The median is less sensitive to extreme values compared to the mean. It only considers the position of the values and not their magnitude. Consequently, extreme values do not significantly influence the median.

###### Application: 
The median is particularly useful when dealing with skewed distributions or data that may contain outliers. It is commonly used for ordinal and continuous data.

#### 3.Mode:
###### Definition:
The mode is the value that appears most frequently in a dataset. It represents the most common value in the data.

###### Sensitivity to Extreme Values:
The mode is not affected by extreme values. It is solely determined by the frequency of each value in the dataset.
Application: The mode is often used when dealing with categorical data or discrete data, where values represent categories or groups rather than numerical quantities. It can be useful for identifying the most common category or value in the dataset.

In [1]:
import seaborn as sns

In [2]:
data=sns.load_dataset('tips')

In [5]:
data.mean()

/tmp/ipykernel_711/531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [6]:
data.median()

/tmp/ipykernel_711/4184645713.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [7]:
data.mode()

   total_bill  tip   sex smoker  day    time  size
0       13.42  2.0  Male     No  Sat  Dinner     2

### Q3. Measure the three measures of central tendency for the given height data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [8]:
hight=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [10]:
import pandas as pd

In [11]:
df=pd.DataFrame({"Hight":hight})

In [12]:
df.mean()

Hight    177.01875
dtype: float64

In [13]:
df.median()

Hight    177.0
dtype: float64

In [14]:
df.mode()

   Hight
0  177.0
1  178.0

### Q4. Find the standard deviation for the given data:
### [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [19]:
df1=pd.DataFrame({"Data":[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]})

In [20]:
df1.head()

    Data
0  178.0
1  177.0
2  176.0
3  177.0
4  178.2

In [21]:
df1.std()

Data    1.847239
dtype: float64

### Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example.

#### Range:
The range is the simplest measure of dispersion, representing the difference between the maximum and minimum values in a dataset.

##### Calculation: Range = Maximum Value - Minimum Value
#####  Use:
The range gives a basic idea of how widely the data points are spread, but it can be influenced by outliers and is not very robust against extreme values.

##### Example: 
Consider the following dataset representing the number of hours studied by students for an exam:
4,6,5,7,8,3,6,5,9

Range = 6 (Maximum Value: 9 - Minimum Value: 3)

### Variance:
Variance measures the average of the squared differences between each data point and the mean of the dataset. It provides a more comprehensive view of the dispersion.

### Use: 
Variance is valuable for understanding how much the data points deviate from the mean. However, because it involves squared differences, its unit is not the same as the original data, making it less interpretable.

### Standard Deviation:
The standard deviation is the square root of the variance and is often preferred over variance because it is in the same unit as the original data, making it more interpretable.
Calculation: Standard Deviation = squrroot(variance)

##### Use:
Standard deviation provides a measure of the average deviation of data points from the mean, indicating how tightly or widely the data is clustered around the mean.

In [22]:
df1.std()

Data    1.847239
dtype: float64

In [23]:
df1.var()

Data    3.412292
dtype: float64

In [36]:
range=df["Hight"].max()-df['Hight'].min()
range

7.5

### Q6. What is a Venn diagram?

A Venn diagram is a visual representation used to show the relationships and commonalities between different sets of items or groups. It consists of overlapping circles or other simple closed shapes, with each circle representing a specific set, and the overlapping regions representing the intersections between sets.

### Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
### (i) A B
### (ii) A â‹ƒ B

In [38]:
t1 = (2,3,4,5,6,7) 
t2 = (0,2,6,8,10)
A=set(t1)
B=set(t2)

In [39]:
A.intersection(B)

{2, 6}

In [40]:
A.union(B)

{0, 2, 3, 4, 5, 6, 7, 8, 10}

### Q8. What do you understand about skewness in data?

Skewness is a statistical measure that describes the asymmetry of the probability distribution of a dataset. In data analysis, it helps to understand the shape of the distribution and how the data points are distributed around the central tendency (mean, median, or mode). A dataset can be either positively skewed, negatively skewed, or approximately symmetric (symmetrical).

## Skewness= 3(Meanâˆ’Median)/Standard Deviation

1. If the skewness value is greater than 0, the data is positively skewed.

2. If the skewness value is less than 0, the data is negatively skewed.

3. If the skewness value is approximately 0, the data is approximately symmetric.

### Q9. If a data is right skewed then what will be the position of median with respect to mean?

Mean is gratter than median

### Q10. Explain the difference between covariance and correlation. How are these measures used in statistical analysis?

#### Covariance:
Covariance is a measure that quantifies the degree to which two variables change together. It indicates the direction of the relationship (positive or negative) and whether the variables tend to increase or decrease together.

In [44]:
data.var()

/tmp/ipykernel_711/445316826.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

### Correlation:
Correlation, on the other hand, is a standardized measure of the relationship between two variables. It represents the strength and direction of the linear relationship between the variables, regardless of the scale of the variables.

In [43]:
data.corr()

/tmp/ipykernel_711/2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

### Q10. Explain the difference between covariance and correlation. How are these measures used in statistical analysis?

Both covariance and correlation measure the relationship and the dependency between two variables. Covariance indicates the direction of the linear relationship between variables. Correlation measures both the strength and direction of the linear relationship between two variables.

In [52]:
data.var()

/tmp/ipykernel_711/445316826.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

In [53]:
data.corr()

/tmp/ipykernel_711/2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

### Q11. What is the formula for calculating the sample mean? Provide an example calculation for a dataset.

Formula : sum of the all element present in the sample data and divide the size of the sample data

Example
data={6,1,8}

sample mean=(6+8+1)/3
sample mean=5

In [57]:
data.mean()

/tmp/ipykernel_711/531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

### Q12. For a normal distribution data what is the relationship between its measure of central tendency?

Mean = Median = Mode

### Q13. How is covariance different from correlation?

Both covariance and correlation measure the relationship and the dependency between two variables. Covariance indicates the direction of the linear relationship between variables. Correlation measures both the strength and direction of the linear relationship between two variables.

### Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [47]:
df2=pd.DataFrame({"Data":[1,2,3,4,5]})
df3=pd.DataFrame({"Data":[1,2,3,4,5,100]})

In [48]:
df2.mean()

Data    3.0
dtype: float64

In [49]:
df2.median()

Data    3.0
dtype: float64

In [50]:
df3.mean()

Data    19.166667
dtype: float64

In [51]:
df3.median()

Data    3.5
dtype: float64

in the above example we find the  value of mean is varry very much but the value of median is not varry so much due to the outliars

In dispersion we calculate the range of the data we can also observe
that 
in df1 : R1=(5-1)
and df2 : R2=(100-1)
value is too much differ due to outliars